<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” xmlns="http://www.w3.org/1999/html">

<!--header-->
<head th:replace="fragments/header :: header"></head>

<body>

  <!-- Navigation -->
  <!--th:replace -> importuje fragment pochodzący z innego pliku html-->
  <nav th:replace="fragments/navbar :: navbar"></nav>

  <!-- Page Header -->
  <header
  th:replace="fragments/pageHeader :: pageHeader(title='Add new post', subtitle='add to IT blog')">
  </header>

  <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Add post form</h1>

            <form th:action="@{/registration}" th:method="post">
                <input type="text" placeholder="input your post title"></br>
                <textarea placeholder="input your post content"></textarea></br>
                <label> select category </label></br>
                <select>
                    <option> example1 </option>
                    <option> example2 </option>
                    <option> example3 </option>
                </select></br>
                <input type="submit" value="add post">
            </form>

        </div>
      </div>
    </div>
  <hr>

  <!-- Footer -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
